.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    margin-top: 6%;
}
.btn-con{
    margin-top: 5%;
    height: 400px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 2px 5px teal;
}

.btn{
    padding: 10px;
    background-color: rgb(37, 120, 120);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}
